<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxHide.lt-sm>
        <a routerLink="/home">Изучение алфавита</a>
    </div>
</mat-toolbar>
