.alphabet {
  border: solid 1px rgba(114, 205, 255, 0.43);
  padding: 15px;
  border-radius: 5px;

  .letter {
    font-size: 25px;
    color: #3f51b5;
    cursor: pointer;
    padding: 5px;

    &.active {
      color: #c1464a;
      font-size: 30px;
      text-decoration: underline;
    }

    &.disabled {
      color: #e2e2e2;
      cursor: default;
    }
  }
}
