<div class="alphabet">
  <span class="letter" *ngFor="let item of alphabet"
        [ngClass]="{'active': item.letter === currentLetter.letter, 'disabled': isDisabled(item)}"
        (click)="letterClick(item)">
    {{item.letter.toUpperCase()}}{{item.letter}}
  </span>
</div>
