mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
  a {
    text-decoration: none;
  }

  a:hover, a:active{
    color: lightgray;
  }

  .nav-caption{
    display: inline-block;
    padding-left: 6px;
  }
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}
