<app-layout>
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <mat-nav-list>
                <a mat-list-item routerLink="/" (click)="sidenav.close()">
                    <mat-icon>home</mat-icon>
                    <span class="nav-caption">Главная</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-layout>
