$font-color: #c1464a;
.letter {
  color: $font-color;
  font-size: 120px;
}

.img-block {
  .img {
    height: 250px;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;

    &:first-letter {
      color: $font-color;
      text-transform: capitalize;
    }
  }
}
