<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="container" *ngIf="currentLetter">
    <div fxFlex>
        <span class="letter">{{currentLetter.letter.toUpperCase()}}{{currentLetter.letter}}</span>
    </div>
    <div class="img-block" *ngIf="currentLetter.img">
            <img class="img" [src]="'assets/' + currentLetter.img.url" [alt]="currentLetter.img.title">
            <div class="title">{{currentLetter.img.title}}</div>
    </div>
</div>
