@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  min-width: 300px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-container {
  height: 100%;
}
