<div class="task" *ngIf="currentLetter">
    <div class="text">Найдите (кликните) букву
        <span class="current-letter">{{currentLetter.letter}}</span> в слове:
    </div>

    <div class="word" [ngClass]="{'disabled': inputDisabled}">

        <span class="letter"
              *ngFor="let letter of taskWord.split('')"
              [ngClass]="{'right': letter === currentLetter.letter
              && taskResult && taskResult.success}"
              (click)="!inputDisabled && checkUserAnswer(letter)">{{letter}}</span>

        <span class="result" [ngClass]="taskResult.class" *ngIf="taskResult">{{taskResult.text}}</span>
    </div>
</div>
