.task {
  .text {
    text-align: center;
    padding: 5px 5px 20px;

    .current-letter {
      font-size: 30px;
      color: #c1464a;
    }
  }

  .word {
    font-size: 40px;
    text-align: center;

    &.disabled {
      color: grey;

      .letter {
        cursor: default;
        border: solid 1px white;

        &:hover {
          border: solid 1px white;
        }
      }
    }

    .letter {
      padding: 2px 7px;
      border: solid 1px #f0f0f2;
      cursor: pointer;

      &:hover {
        border: solid 1px #bdbdbf;
      }

      &.right {
        color: green;
      }
    }

    .result {
      padding: 5px;
      border-radius: 5px;
      font-size: 10px;
      vertical-align: text-top;
      margin: 0 5px;

      &.wrong {
        background-color: #c1464a;
        color: white;
      }

      &.right {
        background-color: green;
        color: white;
      }
    }
  }
}
