<div fxLayout="column" fxLayoutAlign="center center" class="layout-wrapper">
    <div fxFlex="40%" fxFlex.lt-md="60%" fxFlex.lt-sm="90%" class="flex-wrapper">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="100px">

            <app-widget-letter fxFlex [currentLetter]="letter"></app-widget-letter>

            <app-widget-task fxFlex [currentLetter]="letter"
                             [taskWord]="taskWord"
                             (taskCompleted)="nextTask()"></app-widget-task>
            <app-widget-alphabet fxFlex [alphabet]="alphabet"
                                 [currentLetter]="letter"
                                 (change)="letterChanged($event)"></app-widget-alphabet>
        </div>
    </div>
</div>
